# Node
node_modules/
package-lock.json

# TypeScript
*.tsbuildinfo
build/

# IDE's
.idea/
.workspace/

# Bot
config.toml
config.toml
assets/disabled.json
assets/news.json
assets/votes.json
assets/selke_samstag.json
assets/message_statistics.json
assets/voice_statistics.json
assets/banner_message_stats.png
assets/banner_booster.png
